.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  padding: 70px 0;
  border: 3px;
  text-align: center;
}

.org_search {
  margin-right: 50%;
}

.avatar {
  border-radius: 50%;
  width: 10%;
}

.username {
  padding: 10px;
}

.profile-info {
  text-align: left;
}

.contributors {
  padding-top: 15%;
}

th.ascending::after {
  content: '🔼';
  display: inline-block;
  margin-left: 2px;
}

th.descending::after {
  content: '🔽';
  display: inline-block;
  margin-left: 2px;
}